:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

#gameBoard {
  background-color: antiquewhite;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}
