.cards {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 10rem;
  margin: 1rem;
  width: 10rem;
}

.cards,
.front,
.back {
  border-radius: 1rem;
}

.front,
.back {
  height: inherit;
  width: inherit;
}

.back {
  background-color: #47d8e0;
  display: flex;
  flex-flow: column nowrap;
}

.cards-logos {
  width: 1.5rem;
}

.background-circle {
  align-self: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  height: 7.5rem;
  justify-content: center;
  width: 7.5rem;
}

.back-card-img {
  height: 5rem;
  width: 4.5rem;
}

.let-top-corner {
  padding: 0.25rem 0 0 0.25rem;
}

.right-bottom-corner {
  align-self: flex-end;
  padding: 0 0.25rem 0.25rem 0;
}

.front {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.front-card-image {
  height: 6.1rem;
}

.card-text {
  font-size: 1.6rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cards {
    height: 15rem;
    margin: 1rem;
    width: 15rem;
  }

  .cards-logos {
    width: 2.5rem;
  }

  .background-circle {
    height: 12rem;
    width: 12rem;
  }

  .back-card-img {
    height: 7rem;
    width: 6.5rem;
  }

  .let-top-corner {
    padding: 0.5rem 0 0 0.5rem;
  }

  .right-bottom-corner {
    padding: 0 0.5rem 0.5rem 0;
  }

  .front-card-image {
    height: 8.5rem;
  }

  .card-text {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .cards {
    height: 20rem;
    margin: 1rem;
    width: 20rem;
  }

  .cards-logos {
    width: 3rem;
  }

  .background-circle {
    height: 15rem;
    width: 15rem;
  }

  .back-card-img {
    height: 10rem;
    width: 9rem;
  }

  .let-top-corner {
    padding: 1rem 0 0 1rem;
  }

  .right-bottom-corner {
    padding: 0 1rem 1rem 0;
  }

  .front-card-image {
    height: 12.2rem;
  }

  .card-text {
    font-size: 3.2rem;
  }
}
