.cards {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 10rem;
  margin: 1rem;
  width: 10rem;
}

.cards,
.front,
.back {
  border-radius: 1rem;
}

.front,
.back {
  height: inherit;
  width: inherit;
}

.back {
  background-color: #47d8e0;
  display: flex;
  flex-flow: column nowrap;
}

.cards-logos {
  width: 1.5rem;
}

.background-circle {
  align-self: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  height: 7.5rem;
  justify-content: center;
  width: 7.5rem;
}

.back-card-img {
  height: 5rem;
  width: 4.5rem;
}

.let-top-corner {
  padding: 0.25rem 0 0 0.25rem;
}

.right-bottom-corner {
  align-self: flex-end;
  padding: 0 0.25rem 0.25rem 0;
}

.front {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.front-card-image {
  height: 6.1rem;
}

.card-text {
  font-size: 1.6rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}
